<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emailapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.FoldersActivity" />
        <activity android:name=".activities.FolderActivity" />
        <activity android:name=".activities.EmailsActivity" />
        <activity android:name=".activities.EmailActivity" />
        <activity android:name=".activities.CreateFolderActivity" />
        <activity android:name=".activities.CreateEmailActivity" />
        <activity android:name=".activities.CreateContactActivity" />
        <activity android:name=".activities.ContactsActivity" />
        <activity android:name=".activities.ContactActivity" />
    </application>

</manifest>